<!DOCTYPE html>
<html>
    {% include "head.twig" %}
    <body>
        <div class="default-background">
            {% include 'nav.twig' %}

            <p style="margin: 20px">
                <a href="/project/{{ id }}{% if token %}?token={{ token }}{% endif %}">← terug naar het register</a>
            </p>

            {% include "details-header.twig" with {'tab': 'aanpassen'} %}

            <form class="sheet" method="POST" action="/aanpassen/{{ id }}?token={{ token }}">
            
                {% for category, group in grouped %}
                    <section>
                        {# <div class="bol">Stap {{ loop.index }}</div> #}
                        <h2>{{ category }}</h2>
                        {% for item in group %}
                            <h3>{{ item.name }}</h3>
                            {% if item.type == "bool" %}
                                <p>
                                    <select name="{{ item.property }}">
                                        <option></option>
                                        <option {% if item.value == "ja" %}selected{% endif %}>ja</option>
                                        <option {% if item.value == "nee" %}selected{% endif %}>nee</option>
                                    </select>
                                </p>
                            {% elseif item.type == "datum" %}
                                <p class="omschrijving">{{ item.description }}</p>
                                <p><input type="date" name="{{ item.property }}" value="{{ item.value }}"></p>
                            {% elseif item.type == "url" %}
                                <p class="omschrijving">{{ item.description }}</p>
                                <p><input type="text" name="{{ item.property }}" value="{{ item.value }}"></p>
                            {% else %}
                                <p class="omschrijving">{{ item.description }}</p>
                                <textarea name="{{ item.property }}">{{ item.value }}</textarea>
                            {% endif %}
                        {% endfor %}
                    </section>
                {% endfor %}

                <section style="text-align: right">
                    <button class="button" type="submit">Aanpassingen opslaan</button>
                </section>

            </form>
        </div>
        {% include "footer.twig" %}
    </body>
</html>
