<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="default-background">
        {% include 'nav.twig' %}
        <p style="margin: 20px">
            <a href="/details/{{ id }}" style="float: left">← aanpassen annuleren zonder opslaan</a>
        </p>
        <header class="default-color" style="padding: 20px">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </header>

        <form method="POST" target="/aanpassen/{{ id }}">
        
            {% for categorie, group in grouped %}
                <section>
                    <div class="bol">Stap {{ loop.index }}</div>
                    <h2>{{ categorie }}</h2>
                    {% for item in group %}
                        <h3>{{ item.naam }}</h3>
                        <p class="omschrijving">{{ item.omschrijving }}</p>
                        <textarea>{{ item.waarde }}</textarea>
                    {% endfor %}
                </section>
            {% endfor %}

            <section style="text-align: right">
                <button type="submit">Aanpassingen opslaan</button>
                <!--<button>Annuleren</button>-->
            </seciton>

        </form>
    </body>
</html>