<!DOCTYPE html>
<html>
    {% include "head.html" %}
    <body class="default-background">
        {% include 'nav.twig' %}
        <p style="margin: 20px">
            <a href="/details/{{ id }}?token={{ token }}" style="float: left">← aanpassen annuleren zonder opslaan</a>
        </p>
        <header class="default-color" style="padding: 20px">
            <h1>{{ title }}</h1>
        </header>

        <form method="POST" target="/aanpassen/{{ id }}?token={{ token }}">
        
            {% for categorie, group in grouped %}
                <section>
                    <div class="bol">Stap {{ loop.index }}</div>
                    <h2>{{ categorie }}</h2>
                    {% for item in group %}
                        <h3>{{ item.naam }}</h3>
                        {% if item.type == "bool" %}
                            <p>
                                <select name="{{ item.eigenschap }}">
                                    <option></option>
                                    <option {% if item.waarde == "ja" %}selected{% endif %}>ja</option>
                                    <option {% if item.waarde == "nee" %}selected{% endif %}>nee</option>
                                </select>
                            </p>
                        {% elseif item.type == "datum" %}
                            <p class="omschrijving">{{ item.omschrijving }}</p>
                            <p><input type="date" name="{{ item.eigenschap }}" value="{{ item.waarde }}"></p>
                        {% elseif item.type == "url" %}
                            <p class="omschrijving">{{ item.omschrijving }}</p>
                            <p><input type="text" name="{{ item.eigenschap }}" value="{{ item.waarde }}"></p>
                        {% else %}
                            <p class="omschrijving">{{ item.omschrijving }}</p>
                            <textarea name="{{ item.eigenschap }}">{{ item.waarde }}</textarea>
                        {% endif %}
                    {% endfor %}
                </section>
            {% endfor %}

            <section style="text-align: right">
                <button type="submit">Aanpassingen opslaan</button>
                <!--<button>Annuleren</button>-->
            </seciton>

        </form>
    </body>
</html>