<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="default-background">
        {% include 'nav.twig' %}
        <header class="default-color" style="padding: 20px">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </header>
        <main>
            <div style="text-align: right">
                <a href="/aanmelden"><span class="warning-icon">+</span> Algoritme aanmelden</a>
            </div>
            <table>
                <tr class="default-color">
                    <th>Organisatie</th>
                    <th>Afdeling</th>
                    <th>Naam</th>
                    <th>Type</th>
                    <th>Herziening</th>
                    <th></th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td>{{ item.organisatie }}</td>
                        <td>{{ item.afdeling }}</td>
                        <td>{{ item.naam }}</td>
                        <td>{{ item.type }}</td>
                        <td><div class="warning-icon">!</div> {{ item.herziening }}</td>
                        <td><a href="/data/{{ item.id }}" target="_blank">.json data</a></td>
                        <td><a href="/details/{{ item.id }}">details →</a></td>
                    </tr>
                {% endfor %}
                
            </table>
        </main>
    </body>
</html>