<!DOCTYPE html>
<html>
    {% include "head.html" %}
    <body class="default-background">
        {% include 'nav.twig' %}
        <p style="margin: 20px">
            <a href="/" style="float: left">← terug naar het register</a>
            {% if token %}
            <a href="/aanpassen/{{ id }}?token={{ token }}" style="float: left; margin-left: 1em">aanpassen</a>
            {% endif %}
        </p>
        <header class="default-color" style="padding: 20px">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </header>
        
        {% for categorie, group in grouped %}
            <section>
                <div class="bol">Stap {{ loop.index }}</div>
                <h2>{{ categorie }}</h2>
                {% for item in group %}
                    <h3>{{ item.naam }}</h3>
                    <p class="omschrijving">{{ item.omschrijving }}</p>
                    {% if item.type == "bool" %}
                        <p>{{ item.waarde }}</p>
                    {% elseif item.type == "datum" %}
                        <p>{{ item.waarde }}</p>
                    {% elseif item.type == "url" %}
                        <p><a href="{{ item.waarde }}" target="_blank">{{ item.waarde }}</a></p>
                    {% else %}
                        <p>{{ item.waarde }}</p>
                    {% endif %}
                {% endfor %}
            </section>
        {% endfor %}

        <section>
            <h2>Log</h2>
            {% for event in events %}
                <p>
                {% for i, j in event %}
                    {{ i }} <b>{{ j }}</b><br>
                {% endfor %}
                </p>
            {% endfor %}
        </section>

    </body>
</html>