<!DOCTYPE html>
<html>
    {% include "head.twig" %}
    <body>
        <div class="default-background">
            {% include 'nav.twig' %}
            <header class="default-color content-header">
                <h1>Algoritmeregister</h1>
                {% include "projectomschrijving.twig" %}
                {% if token %}
                <p><a href="/aanmelden?token={{ token }}"><span class="warning-icon">+</span> Algoritmische toepassing aanmelden</a></p>
                {% endif %}
            </header>
            <main>
                <table>
                    <tr class="default-color">
                        <th>Naam</th>
                        <th>Afdeling</th>
                        <th>Herziening</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Categorie</th>
                        <th></th>
                    </tr>
                    {% for item in items %}
                        <tr>
                            <td><a href="/details/{{ item.id }}{% if token %}?token={{ token }}{% endif %}">{{ item.name }}</a></td>
                            <td>{{ item.department }}</td>
                            <td><div class="warning-icon">!</div> {{ item.revision_date }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.category }}</td>
                            <td><a href="{{ item.uri }}" target="_blank">.json data</a></td>
                        </tr>
                    {% endfor %}
                   	<tr>
				<td colspan="6"></td>
				<td><a class="button" href="{{ export }}">export .csv</a></td>
			</tr> 
                </table>
            </main>
        </div>
        {% include "footer.twig" %}
    </body>
</html>
