<!DOCTYPE html>
<html>
    {% include "head.twig" %}
    <body>
        <div class="default-background">
            {% include 'nav.twig' %}
            {#
            <header class="default-color content-header">
                <h1>Algoritmeregister</h1>
                {% include "projectomschrijving.twig" %}
            </header>
            #}
            <main>
                <script>
                    function filterProjects(str) {
                        var trs = document.getElementsByTagName('tr');
                        for (var i = 0; i < trs.length; ++i) {
                            if (trs[i].dataset.filterkeywords) {
                                trs[i].style.display = trs[i].dataset.filterkeywords.toLowerCase().indexOf(str.toLowerCase()) === -1 ? 'none': 'table-row';
                            }
                        }
                    }
                </script>
                <h1 class="default-color" style="padding: 1em; background: #F4FAFF">Projecten <input placeholder="zoeken" style="float: right" onkeyup="filterProjects(this.value)"></input></h1>
                <table>
                    <tr class="default-color">
                        <th>Project</th>
                        <th>Programma</th><!-- FIXME from config -->
                        <th>Herziening</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Categorie</th>
                        <th>Schema</th>
                    </tr>
                    {% for item in items %}
                        <tr data-filterKeywords="{{ item.name }}, {{ item.department }}">
                            <td><a href="/project/{{ item.id }}{% if token %}?token={{ token }}{% endif %}">{{ item.name | default("(geen naam)") }}</a></td>
                            <td>{{ item.department }}</td>
                            <td><div class="warning-icon">!</div> {{ item.revision_date }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.schema }}</td>
                        </tr>
                    {% endfor %}
                   	<tr>
                        <td colspan="8" style="text-align: right">
                            {% if token %}
                                <a class="button" href="/toevoegen?token={{ token }}" style="background: #4D80E2">Project toevoegen</a>
                            {% endif %}
                            <a class="button" href="{{ csvExportUrl }}">CSV exporteren</a></td>
                    </tr> 
                </table>
            </main>
        </div>
        {% include "footer.twig" %}
    </body>
</html>
