<!DOCTYPE html>
<html>
    {% include "head.html" %}
    <body class="default-background">
        {% include 'nav.twig' %}
        <header class="default-color" style="padding: 20px">
            <h1>Algoritmeregister</h1>
            {% include "projectomschrijving.html" %}
            <a href="/aanmelden"><span class="warning-icon">+</span> Algoritmische toepassing aanmelden</a>
        </header>
        <main>
            <table>
                <tr class="default-color">
                    <th>Naam</th>
                    <th>Organisatie</th>
                    <th>Afdeling</th>
                    <th>Herziening</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td><a href="/details/{{ item.id }}">{{ item.naam }}</a></td>
                        <td>{{ item.organisatie }}</td>
                        <td>{{ item.afdeling }}</td>
                        <td><div class="warning-icon">!</div> {{ item.herziening }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.type }}</td>
                        <td><a href="{{ item.uri }}" target="_blank">.json data</a></td>
                    </tr>
                {% endfor %}
                
            </table>
        </main>
    </body>
</html>