<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="default-background">
        {% include 'nav.twig' %}
        <header class="default-color" style="padding: 20px">
            <h1>Algoritmeregister</h1>
            <p>Een coalitie van overheden werkt aan een overzicht van de algoritmische toepassingen die zij in de praktijk inzetten: het Algoritmeregister. Door in deze registratie aspecten van algoritmische toepassingen op een begrijpelijke manier vast te leggen kunnen wij transparantie bieden en verantwoording af leggen. In het register kun je technische elementen terugvinden, zoals de dataverwerking of broncode, maar bijvoorbeeld ook afspraken tussen overheden en leveranciers of bijvoorbeeld een beschrijving van de werking van het algoritme.</p>
        </header>
        <main>
            <div style="text-align: right">
                <a href="/aanmelden"><span class="warning-icon">+</span> Algoritme aanmelden</a>
            </div>
            <table>
                <tr class="default-color">
                    <th>Organisatie</th>
                    <th>Afdeling</th>
                    <th>Naam</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Herziening</th>
                    <th></th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td>{{ item.organisatie }}</td>
                        <td>{{ item.afdeling }}</td>
                        <td>{{ item.naam }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.status }}</td>
                        <td><div class="warning-icon">!</div> {{ item.herziening }}</td>
                        <td><a href="{{ item.uri }}" target="_blank">.json data</a></td>
                        <td><a href="/details/{{ item.id }}">details →</a></td>
                    </tr>
                {% endfor %}
                
            </table>
        </main>
    </body>
</html>